<footer class="site-footer">

	<div class="wrapper">

		<h2 class="footer-heading">{{ site.title-fa }} • <a href="{{ site.baseurl }}/arshive">کلیه مطالب</a></h2>

		<div class="footer-col-wrapper">
			<div class="footer-col footer-col-1">
				<ul class="contact-list">
					<li>تماس با من</li>
					<li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
				</ul>
			</div>

			<div class="footer-col footer-col-2">
				<ul class="social-media-list">
					<li>
						{% include icon-github.html %}
					</li>
					<li>
						{% include icon-instagram.html %}
					</li>
					<li>
						{% include icon-linkedin.html %}
					</li>
					<li>
						{% include icon-twitter.html %}
					</li>
				</ul>
			</div>

			<div class="footer-col footer-col-3">
				<p>مطالب این وبلاگ تحت مجوز <a rel="license" href="http://creativecommons.org/licenses/by/4.0/deed.fa"> کریتیو کامنز اتریبیوشن ۴.۰ اینترنشنال </a>قرار دارد.</p>
			</div>
		</div>

	</div>

</footer>
